{% extends 'base.html' %}


{% block content %}
 

<h1>HI USER!!!!</h1>

<table class="table table-bordered">
    <thead>

    <tr>
        <th>Name</th>
        <th>Email</th>
        
    </tr>
    </thead>
    <tbody>
    
        {% for i in result %} 
       {% if i.is_superuser == False%}
      <tr class="active">
        <td>{{i.first_name}}</td>
        <td>{{i.email}}</td>
        <td><a href="delete/{{i.username}}" class="btn btn-danger">Delete</a></td>
        <td><a href="update/{{i.username}}" class="btn btn-success">Edit</a></td>
      </tr>
      {% endif%}
      {% endfor %}
    </tbody>
   
  </table>
  
  
</div>

{% endblock %}






