{% extends 'base.html' %}


{% block content %}
 

<h1>PRODUCT ORDER DETAILS</h1><br>
<div class="container">
  <form class="input-group" action="displayorder" method="post">
      {% csrf_token %}
      <div class="form-outline">
          <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
      </div>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </button>
  </form>
</div>      
  <br>
<div class="container">
<table class="table table-bordered">
    <thead>

    <tr>
        <th>Username </th>
        <th>Product Name</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Pincode</th>
        <th>Phone</th>

    </tr>
    </thead>
    <tbody>
    
    {% for i in result %} 
       
      <tr class="active">
        <td>{{i.cartid.userid.first_name}}</td> 
        <td>{{i.cartid.pid.name}}</td>  
        <td>{{i.name}}</td>
        <td>{{i.address}}</td>
        <td>{{i.city}}</td>
        <td>{{i.state}}</td>
        <td>{{i.pincode}}</td>
        <td>{{i.Phone}}</td>
      </tr>
    
    {% endfor %}
    </tbody>
   
</table>
</div>
  
  
</div>
<ul class="pagination">
  {% if result.has_previous %}
  <li class="page-item">
      <a href="?page=1" class="page-link"><< First</a>
  </li>
  <li class="page-item">
      <a href="{{result.previous_page_link}}" class="page-link">< Previous</a>
  </li>
  {% endif %}
  {% if result.has_next %}
  <li class="page-item">
      <a href="?page={{result.next_page_number}}" class="page-link">Next ></a>
  </li>
  <li class="page-item">
      <a href="?page={{result.paginator.num_pages}}" class="page-link">Last >></a>
  </li>
  {% endif %}
</ul> 
{% endblock %}






