{% extends 'base.html' %}


{% block content %}
 

<h1>HI USER!!!!</h1>
<div class="container">
  <form class="input-group" action="display" method="post">
      {% csrf_token %}
      <div class="form-outline">
          <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
      </div>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </button>
  </form>
</div>      
  <br>
<div class="container">
<table class="table table-bordered">
    <thead>

    <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    
        {% for i in result %} 
       {% if i.is_superuser == False%}
      <tr class="active">
        <td>{{i.first_name}}</td>
        <td>{{i.email}}</td>
       
        <td><a href="delete/{{i.username}}" class="btn btn-danger">Delete</a></td>
        <td><a href="update/{{i.username}}" class="btn btn-success">Edit</a></td>
       
      </tr>
      {% endif%}
      {% endfor %}
    </tbody>
   
</table>
</div>
  
  
</div>
<ul class="pagination">
  {% if result.has_previous %}
  <li class="page-item">
      <a href="?page=1" class="page-link"><< First</a>
  </li>
  <li class="page-item">
      <a href="{{result.previous_page_link}}" class="page-link">< Previous</a>
  </li>
  {% endif %}
  {% if result.has_next %}
  <li class="page-item">
      <a href="?page={{result.next_page_number}}" class="page-link">Next ></a>
  </li>
  <li class="page-item">
      <a href="?page={{result.paginator.num_pages}}" class="page-link">Last >></a>
  </li>
  {% endif %}
</ul> 
{% endblock %}






