{% extends 'base.html' %}

{% block content %}

<div class="container col-4">
<form method="post" action="" enctype="multipart/form-data">
  {%csrf_token%}
  <div class="form-group">
    <h1>Add New Item</h1>
    <label for="exampleInputEmail1">Name</label>
    
    <input type="text" name="name" class="form-control" id="name"  placeholder="Name">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Description</label>
    
<textarea class="form-control" type="text" name="desc"  id="desc"  placeholder="Description"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Price</label>
    <input type="number" name="price" class="form-control" id="email" placeholder="Price">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Image</label>
    <input type="file"  name="img" class="form-control" placeholder="Image"><br>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Offer</label>
    </div>
    <select name="offer" class="custom-select" id="inputGroupSelect01">
      <option selected>Choose...</option>
      <option value="True">True</option>
      <option value="False">False</option>
    </select>
  </div> <br>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Category</label>
    </div>
    <select name="category" class="custom-select" id="inputGroupSelect01">
      
      <option selected>Choose...</option>
      {% for i in Category %}
      <option value="{{i.name}}">{{i.name}}</option>
      {% endfor %}
    </select>
  </div>


  


  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}