

{% extends 'base.html' %}

{% block content %} 
<div class="container">
    <form class="input-group" action="products" method="post">
        {% csrf_token %}
        <div class="form-outline">
            <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
        </div>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </button>
    </form>
</div>      
    <br>


  {% for i in result %}
  <div class="row">
    <div class="col-md-3 offset-md-2">
        <img class="card" height="150px" src="{{i.img.url}}" />
    </div>
    <div class="col-md-4">
        <h3>{{i.name}}</h3>
        <h5>{{i.desc}}</h5>
        <h6>${{i.price }}</h6> 
    </div>
    
    <div class="col-md-2">
        
        <td><a href="productdelete/{{i.id}}" class="btn btn-danger">Delete</a></td>
        <td><a href="productupdate/{{i.id}}" class="btn btn-success">Edit</a></td>
        

    </div>
    
</div> <br>



{% endfor %}
<ul class="pagination">
    {% if result.has_previous %}
    <li class="page-item">
        <a href="?page=1" class="page-link"><< First</a>
    </li>
    <li class="page-item">
        <a href="{{result.previous_page_link}}" class="page-link">< Previous</a>
    </li>
    {% endif %}
    {% if result.has_next %}
    <li class="page-item">
        <a href="?page={{result.next_page_number}}" class="page-link">Next ></a>
    </li>
    <li class="page-item">
        <a href="?page={{result.paginator.num_pages}}" class="page-link">Last >></a>
    </li>
    {% endif %}
  </ul> 




{% endblock %} 