{% extends 'base.html' %}

{% block content %}

<div class="container col-4">
<form method="post" action="" enctype="multipart/form-data">
  {%csrf_token%}
  <div class="form-group">
    <h1>Update Item Details</h1>
    <label for="exampleInputEmail1">Name</label>
    
    <input type="text" value="{{name}}" name="name" class="form-control" id="name"  placeholder="Name">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Description</label>
    
<textarea class="form-control" type="text" value="{{desc}}" name="desc"  id="desc"  placeholder="Description"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Price</label>
    <input type="number" value="{{price}}" name="price" class="form-control" id="email" placeholder="Price">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Image</label>
    <input type="file"  name="img" class="form-control" placeholder="Image">
  </div>


  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}