
{% extends 'users/base.html'%}
{% block content%}

{% load static %}
	<section class="categories">
		<div class="container-fluid">
			<div class="row">
				{% for i in category%}
				{% if i.special == True %}
				<div class="col-lg-6 p-0">
					<div class="categories_item categories_large_item">
						<img src="{{i.img.url}}" alt="" class="img-fluid">
						<div class="categories_text">
							<h1>{{i.name}}</h1>
							<p>{{i.desc}}</p>
							<a href="category/{{i.id}}">Buy now</a>
						</div>
					</div>
				</div>
                {% endif %}
				{% endfor %}

				<div class="col-lg-6">
					<div class="row">

						{% for i in category%}
						
						{% if i.special == False %}

						<div class="col-lg-6 col-md-6 col-12 p-0">
							<div class="categories_item">
								<img src="{{i.img.url}}" alt="" class="img-fluid">
								<div class="categories_text">
									<h4>{{ i.name}}</h4>
									<p>358 items</p>
									<a href="category/{{i.id}}">Buy now</a>
								</div>
							</div>
						</div>
						{% endif%}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="product spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h4>New Products</h4>
					</div>
				</div>
			</div>
			<div class="row property_gallery">
				{% for product in products %}
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="product_item">
						<div class="product_item_pic cart-thumb">
							<img src="{{product.img.url}}" alt="">
							{% if product.offer == True%}
							<div class="label new">Offer</div>
							{% endif%}
							<ul class="product_hover">
								<li><a href="#"><i class="fa fa-arrows-alt"></i></a></li>
								<li><a href="#"><i class="fa fa-heart"></i></a></li>
								<li><a href="product/{{product.id}}"><i class="fa fa-shopping-bag"></i></a></li>

                            </ul>	
						</div>
						<div class="product_item_text">
							<h6><a href="#">{{product.name}}</a></h6>
							<div class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="product_price">${{product.price}}</div>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</section>

	<hr>
	<section class="shop-method-area spad">

		<h1 class="text-center align-top">ABOUT US</h1>
		<div class="container">
			<div class="row d-flex justify-content-between">
			<div class="col-lg-4 col-md-5 col-sm-12">
				<div class="single-method mb-40">
					<i class="fa fa-shopping-bag"></i>
					<h6>Free Shipping Method</h6>
					<p>Add at least $25 of eligible items
						shipped by Wayshop to your cart.Choose "FREE Shipping" at
						checkout, and your order will
						arrive in 5-8 days.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-12">
				<div class="single-method mb-40">
					<i class="fa fa-lock"></i>
					<h6>Secure Payment System</h6>
					<p>Our payment security system encrypts your payment details, such as credit card number, bank account number, and address. This information is encrypted using industry standard encryption during transmission with the appropriate banking institution during order processing.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-12">
				<div class="single-method mb-40">
					<i class="fa fa-briefcase"></i>
					<h6>Online Support 24/7</h6>
					<p>Through our innovative world-class self-service technologies developed by our “CS” team, we support customers from 75+ service locations around the globe. We consider each contact an opportunity to advocate for customers and provide support via phone, email and chat 24/7.</p>
				</div>
			</div>
			</div>
		</div>
	</section>



	<section class="newsletter-area spad">
		<div class="container">
			<form method="post" action="#">
				<p class="text-center">
					Subscribe to us for mailing list to receive updates on new arrivals, specials offers and other discount information.
				</p>
				<div class="row subscribe-sec">
					<div class="col-md-9">
						<input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email..." required="">
					</div>
					<div class="col-md-3">
						<button type="submit" class="btn submit">
							Subscribe
						</button>
					</div>
				</div>
			</form>
		</div>
	</section>
	{% endblock %}

